<!--
EJS partial template that displays the time and the number of page requests
File Name: partials/counter.ejs
Author: Johnathan Hall
Student #: 301189555
Date: October 7, 2023
-->
<hr>
<p>Request time: <%= time %></p>
<p>Page requests: <%= count %> (since last server restart)</p>
<hr>