<!--
EJS partial template for the footer of any page
File Name: partials/footer.ejs
Author: Johnathan Hall
Student #: 301189555
Date: October 7, 2023
-->
<footer>
    <hr>
    <div class="spacer" style="text-align: center">
        <p>© 2023 - Johnathan Hall</p>
    </div>
    <hr>
</footer>