<!--
EJS partial template for the head section of any page
File Name: partials/head.ejs
Author: Johnathan Hall
Student #: 301189555
Date: October 7, 2023
-->
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="5">
</head>