<!--
EJS partial template for the navigation bar of any page
File Name: partials/navigationBar.ejs
Author: Johnathan Hall
Student #: 301189555
Date: October 7, 2023
-->
<nav>
    <div class="spacer">
        <img src="/images/TTC-Academy.png" alt="Placeholder" width="25px" height="25px">
        <strong>Johnathan's Express Portfolio - <%= page %></strong><br>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</nav>