<!--
EJS Template for the main page
File Name: index.ejs
Author: Johnathan Hall
Student #: 301189555
Date: October 7, 2023
-->
<!DOCTYPE html>
<html lang="en">
  <% include partials/header.ejs %>
  <body>
    <div class="big-spacer text-white">
      <% include partials/navigationBar.ejs %>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>You are on <%= page %></p>
      <% include partials/counter.ejs %>
      <h3>Mission Statement</h3>
      <p>Helping others when they need it</p>
      <hr>
      <h3>Find what you were looking for</h3>
      <table>
        <tr>
          <td><a href="/about">About me</a></td>
          <td><a href="/projects">Projects</a></td>
        </tr>
        <tr>
          <td><a href="/services">Services</a></td>
          <td><a href="/contact">Contact</a></td>
        </tr>
      </table>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
